<div ng-controller="FolderController">

    <div class="menu-bar">
    <div class="padding container">
    <div class="grid">

    <div class="col-1-4">
        <div ng-if="parent >= 0">
            <a class="rounded-icon" href="#/folders/{{parent}}"><i class="fa fa-reply"></i></a>
        </div>
    </div>

    <div class="col-1-2 text-center"><h1>{{ current.label }}</h1></div>

    <div class="col-1-4">
        <input class="search-box" placeholder="search" type="text" ng-model="search"/>
    </div>

    </div>
    </div>
    </div>

    <div class="padding container">

    <div class="grid-r">
    <div class="col-1-4" ng-repeat="folder in folders | orderBy:'label'">
        <a href="#/folders/{{folder.id}}"><i class="fa fa-folder"></i>  {{ folder.label }}</a>
    </div>
    </div>

    <div class="grid-r">
    <div class="col-1-4" ng-repeat="book in books | orderBy:'label'">

    <div class="thumbnail">
        <a href="#/viewer/{{ book.id }}/{{ book.current }}">
            <div class="crop"><img
            ng-src="/api/books/{{book.id}}/{{book.current}}?width=480"
            /></div>
        <div class="info">{{ book.label }}</div></a>
    </div>

    </div>
    </div>

    </div>

</div>
